
  @import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid grey;
    

}
#logo{
    width: 150px;
    display: block;
    margin: 6px 30px 0 0;
}
.navbar-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 550px;
}
.elements-1{
    width: 330px;
    /* margin: 0 -25px 0 -25px; */
}
.elements-1 a{
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    line-height: 21px;
    height: 60px;
    margin: 0 0 0 12px;
    letter-spacing: 0.3px;
    position: relative;
}
.navbar-2{    
    height: auto;
    width: 250px;
}
.navbar-2 a{
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    line-height: 21px;
    height: 60px;
    margin: 0 0 0 7px;
    letter-spacing: 0.3px;
    max-width: 100%;
}
#author:after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: black;
    left: 0.1px;
    bottom: -18px;
    border-radius: 50px 50px 0 0;
    transform: scaleX(0);
    transition: transform 0.3s linear;

}
#author:hover:after{
    transform: scaleX(1);
}
#books:after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: black;
    left: 0.1px;
    bottom: -18px;
    border-radius: 50px 50px 0 0;
    transform: scaleX(0);
    transition: transform 0.3s linear;

}
#books:hover:after{
    transform: scaleX(1);
}


#signup{
    background-color: #FFC600;
    color: white;
    border-radius: 5px;
    margin: 0 0 0 10px;
    padding: 10px;
}
#menu{
    width: 25px;
    display: none;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.subbox{
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    background-color: #FFC600;
    padding-bottom: 20px;
    position: relative;
}
.nav_link{
    letter-spacing: 0.4px;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
}
.active{
    color: black;
}
.signup-head{
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.6px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.signup-head a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.6px;
}
#login-1,#homw-1,#about-1,#author-1,#how-1,#home-1,#books-1{
    text-align: center;
}
#signup-1{
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}
#cancel{
    width: 22px;
    height: 22px;
    position: absolute;
    cursor: pointer;
}
.cancel-div{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10px;
    padding-right: 14px;
}

#about:after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: black;
    left: 0.1px;
    bottom: -18px;
    border-radius: 50px 50px 0 0;
    transform: scaleX(0);
    transition: transform 0.3s linear;

}
#about:hover:after{
    transform: scale(1);
}
#home:after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: black;
    left: 0.5px;
    bottom: -18px;
    border-radius: 50px 50px 0 0;
    transform: scaleX(0);
    transition: transform 0.3s linear;

}
#home:hover:after{
    transform: scaleX(1);
}

#howitworks:after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: black;
    left: -0.6px;
    bottom: -18px;
    border-radius: 50px 50px 0 0;
    transform: scaleX(0);
    transition: transform 0.3s linear;

}
#howitworks:hover:after{
    transform: scaleX(1);
}
footer{
    max-width: 100%;
    background-color: #E2DECF;
    margin: 0px 48px 0 48px;
}
.foot{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;
    padding: 100px 0 100px 0;
    flex-wrap:wrap;
}
.foot a{
    text-decoration: none;
    line-height: 23px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    color: #404172;
    font-family: sans-serif;
}
.foot a:hover{
    text-decoration: underline black;
}
.foot-1,.foot-2,.foot-3,.languages{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
#twitter,#linkedin{
    width: 30px;
}
#footer-heading{
    padding-bottom: 8px;
    font-family: Inter, apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Fira Sans", Roboto, Oxygen, Ubuntu, "Droid Sans", Arial, sans-serif;
}
.subscribe{
    display: flex;
    flex-direction: column;
}
.subscribe-button{
    display: flex;
    gap: 10px;
}
#your-email{
    padding-left: 18px;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 200px;
    border: 1px solid white;
    background-color: #E2DECF;
}
#subscribe{
padding: 12px;
border: none;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
border-radius: 8px;
cursor: pointer;
font-weight: 600;
}
#subscribe:hover{
    background-color: black;
    color: white;
}
#footer-para{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    padding: 10px;
    line-height: 23px;
    font-family: sans-serif;

}
.heading-h1{
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0 15px 0;
}
h1{
    font-size: 25px;
    font-weight: 600;
    line-height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#search-authors{
    position: relative;
    width: 160px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #3a3838;
    padding: 2px 50px 2px 10px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

form{
    display: flex;
    justify-content: center;
}
#search-icon{
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    transform: translateX(93px);
    padding-top: 6px;
    background-color: black;
}
.authors{
    max-width: 100%;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}
.author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.author-img{
    width: 165px;
    border-radius: 6px;
    height: 240px;
    margin: 20px 0 20px 0;
    transition:transform 0.3s ease-in-out;
}
.author-name p{
    font-size: 17px;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.author-img:hover{
    transform: scale(1.08);
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 1px 1px 10px 1px #888888;
}
.author-pic{
    width: 165px;
    border-radius: 6px;
    height: 240px;
    margin: 20px 0 20px 0;
    transition:transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.author-pic:hover{
    transform: scale(1.08);
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 1px 1px 10px 1px #888888;
}


.help-tab{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 1121px;
    margin-left: 215px;
    height: 675px;
}
.para-head-1{
    display: flex;
    gap: 18px;
}
#h{
    font-size: 16px;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 0.9px;
    color: #888;
    position: relative;
}
#h:after{
    content: "";
    width: 40%;
    height: 2.5px;
    background-color: black;
    position: absolute;
    transform: rotate(90deg);
    border-radius: 100px;
    left: 44px;
    bottom:7.5px;
    
}
#hel{
    font-size: 16px;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 0.9px;
}
#popular-questions{
    font-size: 30px;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 0.9px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.para-head-3{
    padding: 30px 0 30px 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#questions{
    font-size: 16px;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.9px;
    
}
#drop{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.para-answer-3{
    padding: 10px 0 10px 0;
    font-size: large;
    letter-spacing: 0.8px;
    font-family: 'Nova Square', sans-serif;
    font-weight: 600;
    display: none;
}
.author-details{
    position: absolute;
    top: 105px;
    margin-left: 50px;
    margin-right: 50px;
    display: none;
    max-width: 100%;
}
.author-detail{
    width: 950px;
    height: 620px;
    z-index: 9999;
    background-color: black;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 0.5px black;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;
}
.author-detail::-webkit-scrollbar{
    width: 0px;
}
.close-button{
    display: flex;
    justify-content: right;
    padding: 15px;
}
#close{
    width: 30px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
#close:hover{
    scale: 1.2;
}
.author-pic-1{
    width: 160px;
    height: 220px;
    padding: 15px 0 15px 0;
    max-width: 100%;
}
.author-pics{
    padding: 0px 15px 15px 15px;
    display: flex;
    gap: 20px;
}

.author-para{
    padding-top: 20px;
    
}
.author-p-4{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    gap: 9px;
    padding: 3px;
    letter-spacing: 0.8px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 23px;
    padding:0px 10px 0px 10px;
}

.author-p-2{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    gap: 9px;
    padding: 3px;
    letter-spacing: 0.8px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.author-p-3{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    gap: 9px;
    padding: 3px;
    letter-spacing: 0.8px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#born{
    color: #888888;
}
@media (300px<=width<=800px){
    header{
        padding: 5px 0 5px 0;
    }
    header h5{
        font-size: small;
        line-height: 22px;
    }
    #menu{
        display: block;
        margin-left: 50px;
    }
    .elements-1{
        display: none;
    }
    .navbar-2 #contact,#login,#signup{
        display: none;
    }
    nav{
        max-width: 100%;
    }
    .navbar-1{
        width: 0px;
    }
    .navbar-2{
        width: 0px;
    }
    #logo{
        margin-left: 0px;
    }
    .about-us,footer{
        margin: auto 12px auto 12px;
    }
    #head-1{
        line-height: 40px;
    }
    .foot{
        padding: 20px;
    }
    .foot-1,.foot-2,.foot-3,.foot-4,.languages{
        padding-top: 15px;
    }
    .subscribe{
        padding-top: 20px;
    }
    .foot a{
        font-size: 15px;
    }
    .authors{
        width: 100%;
        flex-wrap: wrap;
    }
    .author-details{
        margin-left: 10px;
        margin-right: 10px;
        top: 120px;
        
    }
    .author-detail{
        max-width: 100%;
        
    }
    .author-p-2,.author-p-3,.author-p-4{
        font-size: 12px;
    }
    .author-para{
        padding-top: 30px;

    }
    .author-pic-1{
        width: 100px;
        height: 200px;
    }

    
}
@media (300px<=width<=650px){
    footer{
        margin: auto 10px auto 10px;
    }
    .foot{
        flex-direction: column;
        padding: 20px;
    }
    .foot-1,.foot-2,.foot-3,.foot-4,.languages{
        padding-top: 15px;
    }
    .subscribe{
        padding-top: 20px;
    }
    .foot a{
        font-size: 15px;
    }
    h1{
        font-size: 20px;
    }
    #search-authors{
        width: 120px;
        height: 20px;
        font-size: 13px;
    }
    .heading-h1{
        justify-content: space-between;
        padding: 0px 15px 0 15px;
    }
    #search-icon{
        width: 18px;
        padding-top: 4px;
        height: 18px;
        transform: translateX(78px);
    }
    .author-details{
        max-width: 95%;
    }
    .author-pic-1{
        width: 100px;
        height: 200px;
    }
    .author-p-2,.author-p-3,.author-p-4{
        font-size: 12px;
    }
    .author-para{
        padding-top: 0px;
    }
    .author-detail{
        padding-bottom: 15px;
    }
}
