*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}
header{
    height: 44px;
    background-color: black;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h5{
    font-size: 15px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.6px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h5:hover{
    color: #FFC600;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid grey;
    

}
#logo{
    width: 150px;
    display: block;
    margin: 6px 30px 0 0;
}
.navbar-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 550px;
}

.elements-1{
    width: 330px;
    /* margin: 0 -25px 0 -25px; */
}
.elements-1 a{
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    line-height: 21px;
    height: 60px;
    margin: 0 0 0 12px;
    letter-spacing: 0.3px;
    position: relative;
}
.navbar-2{    
    height: auto;
    width: 250px;
}
.navbar-2 a{
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    line-height: 21px;
    height: 60px;
    margin: 0 0 0 7px;
    letter-spacing: 0.3px;
    max-width: 100%;
}
#home:after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: black;
    left: 0.5px;
    bottom: -18px;
    border-radius: 50px 50px 0 0;
    transform: scaleX(0);
    transition: transform 0.3s linear;

}
#home:hover:after{
    transform: scaleX(1);
}


#howitworks:after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: black;
    left: -0.6px;
    bottom: -18px;
    border-radius: 50px 50px 0 0;
    transform: scaleX(0);
    transition: transform 0.3s linear;

}
#howitworks:hover:after{
    transform: scaleX(1);
}
#about:after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: black;
    left: 0.1px;
    bottom: -18px;
    border-radius: 50px 50px 0 0;
    transform: scaleX(0);
    transition: transform 0.3s linear;

}
#about:hover:after{
    transform: scale(1);
}
#author:after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: black;
    left: 0.1px;
    bottom: -18px;
    border-radius: 50px 50px 0 0;
    transform: scaleX(0);
    transition: transform 0.3s linear;

}
#author:hover:after{
    transform: scaleX(1);
}
#books:after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: black;
    left: 0.1px;
    bottom: -18px;
    border-radius: 50px 50px 0 0;
    transform: scaleX(0);
    transition: transform 0.3s linear;

}
#books:hover:after{
    transform: scaleX(1);
}


#signup{
    background-color: #FFC600;
    color: white;
    border-radius: 5px;
    margin: 0 0 0 10px;
    padding: 10px;
}
#menu{
    width: 25px;
    display: none;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subbox{
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    background-color: #FFC600;
    padding-bottom: 20px;
    position: relative;
}
.nav_link{
    letter-spacing: 0.4px;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
}
.active{
    color: black;
}
.signup-head{
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.6px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.signup-head a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.6px;
}
#login-1,#homw-1,#about-1,#author-1,#how-1,#home-1,#books-1,#contact-1{
    text-align: center;
}
#signup-1{
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}
#cancel{
    width: 22px;
    height: 22px;
    position: absolute;
}
.cancel-div{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10px;
    padding-right: 14px;
}
.col-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    flex-direction: column;
}
.row_1{
    background-color: #F0EDEF;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    text-align: center;
    color: #25265e;
    transition-delay: 200ms;
    
}
.row_1 h1{
font-family: 'Exo 2', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Martel', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'Ubuntu', sans-serif;
line-height: 45px;
font-size: 36px;
}
.box{
    display: none;
}
#girl-watching-books{
    width: 500px;
}
#search-box{
    height: 40px;
    width: 280px;
    border: 2px black solid;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 3px 0 0 3px;
}
.search-div{
    padding-top: 20px;
    display: flex;
}
#search-button{
    background-color: black;
    color: white;
    border: 2px black solid;
    border-radius: 0 3px 3px 0px;
    font-size: 15px;
    cursor: pointer;
    width: 90px;
    font-family: 'Exo 2', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Martel', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'Ubuntu', sans-serif;
margin-left: -2px;
}

.genere-section{
    padding-top: 50px;
    background-color: #030C28;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 50px;
}
#drop_down_sub_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;

}
#drop_down_2_sub_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#drop_down{
    width: 36px;
    cursor: pointer;
}
#topdown{
    width: 36px;
    cursor: pointer;
    display: block;
}
#top_down{
    width: 36px;
    cursor: pointer;
    display: none;
}
/* #pick-genres{

} */
#genre{
    font-size: 30px;
    color: white;
    font-family: 'Merriweather', serif;
    
}
#para{

    font-size: 20px;
    padding-top: 5px;
    font-family: 'Bubblegum Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.8px;
    padding-top: 15px;
    font-weight: 500;
    color: #FFD157;
    line-height: 24px;
}
.col-2{
    width: 290px;
}
.box-1,.box-2,.box-3,.box-4,.box-5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 9px;
}



#div1,#div2,#div3,#div4,#div5,#div6,#div7,#div8,#div9,#div10,#div11,#div12,#div13,#div14,#div15,#div16,#div17,#div18,#div19{
    width: 150px;
    height: 60px;
    background-color: #F0EDEF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#div1:hover,#div2:hover,#div3:hover,#div4:hover,#div5:hover,#div6:hover,#div7:hover,#div8:hover,#div9:hover,#div10:hover,#div11:hover,#div12:hover,#div13:hover,#div14:hover,#div15:hover,#div16:hover,#div17:hover,#div18:hover,#div19:hover{
    scale: 1.08;
    cursor: url("/icons8-select-cursor-24.png") 5 5,auto;
}
.box-items-4{
    display: none;
}
#rom{
    width: 50px;
}
.box-items-5{
    display: none;
}
#drop_down{
    display: block;
}
.genre-box{
    height: 550px;
    padding-top: 120px;
}
#drama,#comic{
    width: 60px;
}
#adv{
    width: 40px;
}
#bio{
    width: 40px;

}
#History,#detective,#poe{
    width: 50px;
}
#classic{
    width: 50px;
}
#tech{
    width: 30px;
}
#geo{
    width: 30px;
}
#div1 p,#div2 p,#div3 p,#div4 p,#div5 p,#div6 p,#div7 p,#div8 p,#div9 p,#div10 p,#div11 p,#div12 p,#div13 p,#div14 p,#div15 p,#div16 p,#div17 p,#div18 p,#div19 p{
    font-family: 'Gluten', cursive;
    font-size: 20px;
}
#child,#war{
    width: 50px;
}
.heading p{
    padding-top: 20px;
    font-family: 'Kaisei Decol', serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.howitworks{
    padding:40px 0 100px 0;
}
#extensive,#personalized,#easy,#free,#commun,#mobile{
    color: #25265E;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 0.6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#col-5,#col-7,#col-8,#col-10{
    width: 400px;
}
#col-6,#col-9{
    width: 500px;
}
#sub-matter-1,#sub-matter-2,#sub-matter-3{
    font-size: 20px;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0.7px;
    color: #404172;
}
.matter-1{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    width: 100%;
    flex-direction: row;
    gap: 30px;

}
.matter-2{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    width: 100%;
    flex-direction: row;
    gap: 30px;
}
#setbooks,#easyhand,#community-icon,#mobile-friendly,#free-icon,#personalized-icon{
    width: 40px;
    height: 40px;
}
#head-extensive,#head-easy,#head-community,#head-mobile,#head-personalized,#head-free{
    display: flex;
    gap: 10px;
}
.check-1{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    width: 330px;
    height: 400px;
    background-color: white;
    flex-direction: column;
    padding: 40px 30px 40px 30px;
}
#internet{
width: 260px;
}
#matter-1{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: grey;

}
#matter-2{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    text-align: center;
    color: grey;
    line-height: 25px;
}

.internet-check{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
#try-again{
    padding: 15px;
    width: 200px;
    border-radius: 6px;
    font-size: large;
    background-color: #FF0000;
    color: white;
    border: none;
    letter-spacing: 0.8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.matter-3{
    text-align: center;
    line-height: 50px;
}
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    background-color: white;
    flex-wrap: wrap;
}
.contact-form{
    display: flex;
    flex-direction: column;
    width: 600px;
    order: 2;
}
#question-1{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact-head-2{
    font-family: "Helvetica Neue", Helvetica, Ubuntu, "Segoe UI", Verdana, sans-serif;;
    font-weight: 400px;
    width: 450px;
    line-height: 20px;
    font-weight: 500;
}
.contact-form-1-1{
    padding-top: 20px;
}
#first-name,#last-name,#email-tag,#message-tag{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
#name{
    height: 50px;
    width: 450px;
    padding-left: 15px;
    background-color: #F5F5F7;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}
#input-first{
    padding: 8px 0 10px 0;
}
#message{
   padding: 10px;
    height: 70px;
    width: 450px;
    padding-left: 15px;
    background-color: #F5F5F7;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#message-1{
    padding: 10px 0 10px 0;
}
#last-para{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 15px;
    padding-bottom: 10px;
    width: 450px;
}
#send{
    padding: 10px;
    width: 120px;
    border: none;
    color: white;
    background-color: #0096FF;
    font-size: large;
    border-radius: 6px;
    height: 50px;
    cursor: pointer;
}
.send-button{
    padding: 15px 0 20px 0;
    
}
footer{
    max-width: 100%;
    background-color: #E2DECF;
    border-radius: 20px 20px 0px 0;
}
.foot{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;
    padding: 100px 0 100px 0;
    flex-wrap:wrap;

}
.foot a{
    text-decoration: none;
    line-height: 23px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    color: #404172;
    font-family: sans-serif;
}
.foot a:hover{
    text-decoration: underline black;
}
.foot-1,.foot-2,.foot-3,.languages{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
#twitter,#linkedin{
    width: 30px;
}
#footer-heading{
    padding-bottom: 8px;
    font-family: Inter, apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Fira Sans", Roboto, Oxygen, Ubuntu, "Droid Sans", Arial, sans-serif;
}
.subscribe{
    display: flex;
    flex-direction: column;
}
.subscribe-button{
    display: flex;
    gap: 10px;
}
#your-email{
    padding-left: 18px;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 200px;
    border: 1px solid white;
    background-color: #E2DECF;
}
#subscribe{
padding: 12px;
border: none;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
border-radius: 8px;
cursor: pointer;
font-weight: 600;
}
#subscribe:hover{
    background-color: black;
    color: white;
}
#footer-para{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    padding: 10px;
    line-height: 23px;
    font-family: sans-serif;

}
#topup{
    position: fixed;
    height: 30px;
    width: 30px;
    z-index: 99999;
    bottom: 30px;
    transform: translateX(290px);
    max-width: 100%;
    cursor: pointer;
}
.uparrow{
    display: flex;
    max-width: 100%;
}

@media (300px<=width<=800px){
    header{
        padding: 5px 0 5px 0;
    }
    header h5{
        font-size: small;
        line-height: 22px;
    }
    #menu{
        display: block;
        margin-left: 50px;
    }
    .elements-1{
        display: none;
    }
    .navbar-2 #contact,#login,#signup{
        display: none;
    }
    nav{
        max-width: 100%;
    }
    .navbar-1{
        width: 0px;
    }
    .navbar-2{
        width: 0px;
    }
    #logo{
        margin-left: 0px;
    }
    #girl-watching-books{
        width: 350px;
    }
    #search-box{
        width: 200px;
    }
    .row_1 h1{
        line-height: 38px;
        font-size: 28px;
    }
    #search-button{
        width: 70px;
    }
    #genre{
        font-size: 24px;
        font-family: 'Merriweather', serif;
    
    }
    #para{
        font-size: 15px;
        line-height: 20px;
    }
    .genere-section{
        text-align: center;
        justify-content: center;
    }
    .col-2{
        padding-left: 0px;
    }
    .genre-box{
        height: 900px;
        padding-top: 0px;
    }
    .matter-1{
        flex-wrap: wrap;
    }
    .matter-2{
        flex-wrap: wrap;
    }
    .heading p{
        font-size: 30px;
    }
    #extensive,#personalized,#easy,#free,#commun,#mobile{
        font-size: 17px;
        letter-spacing: 0.5px;
    }
    #head-extensive,#head-easy,#head-community,#head-mobile,#head-personalized,#head-free{
        justify-content: center;
    }
    
    #setbooks,#easyhand,#community-icon,#mobile-friendly,#free-icon,#personalized-icon{
        width: 26px;
        height: 26px;
    }
    #sub-matter-1,#sub-matter-2,#sub-matter-3{
        font-size: 17px;
        text-align: center;
    }
    #col-5,#col-7,#col-8,#col-9,#col-10{
        width: 280px;
    }
    #col-6,#col-9{
        width: 300px;
    }
    .matter-2{
        padding-top: 50px;
    }
    .internet-check{
        display: none;
    }
    .contact-form{
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    #contact-img{
        max-width: 100%;
    }
    #name{
        max-width: 100%;
    }
    #first-name,#last-name,#email-tag,#message-tag{
        font-size: 15px;
    }
    .contact-head-2{
        text-align: center;
        max-width: 70%;
    }
    .contact-form-1-1,.contact-form-1-2,.contact-form-1-3{
        max-width: 80%;
    }
    .message-div{
        max-width: 80%;
        
    }
    #message{
        max-width: 97%;
        height: 100px;
    }

    #last-para{
        text-align: center;
        width: 80%;
        font-size: 12px;
    }
    .foot{
        padding: 20px;
    }
    .foot-1,.foot-2,.foot-3,.foot-4,.languages{
        padding-top: 15px;
    }
    .subscribe{
        padding-top: 20px;
    }
    .foot a{
        font-size: 15px;
    }
    #topup{
        bottom: 8px;
        transform: translateX(165px);
    }
    .uparrow{
        max-width: 20%;
    }
    .search-box{
        padding: 10px 0 10px 0;
        background-color: white;
        margin-left:-68px;
        width: 211px;
        padding-top: 10px;
        border-radius: 0px 0px 5px 5px;
    }
}
@media (300px<=width<=650px){
    .foot{
        flex-direction: column;
        padding: 20px;
    }
    .foot-1,.foot-2,.foot-3,.foot-4,.languages{
        padding-top: 15px;
    }
    .subscribe{
        padding-top: 20px;
    }
    .foot a{
        font-size: 15px;
    }
    #topup{
        bottom: 8px;
        transform: translateX(155px);
    }
}